@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.edit-topic {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  color: #03254c; 
  background-color: #03254c;  
  padding: 20px;
  min-height: 100vh;  
}

.edit-topic h1 {
  color: #ffd700; 
  margin-bottom: 20px;
}

.edit-topic form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  max-width: 600px;  
  margin: auto;  
}

.edit-topic label {
  display: block;
  margin-bottom: 5px;
  color: #ffd700;  
  width: 100%;
}

.edit-topic .input, .edit-topic select {
  width: 100%; 
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d4a017; 
  font-size: 1em;
  box-sizing: border-box; 
}

.edit-topic button {
  background-color: #ffd700;  
  color: #03254c;  
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
  display: inline-block; 
  width: 125px; 
}

.edit-topic button:hover {
  border-radius: 15px; 
}

.edit-topic .fact-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px; 
}

.edit-topic .fact-input-container input {
  flex-grow: 1;  
  margin-right: 10px; 
}

.edit-topic .fact-input-container button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto; 
}

.edit-topic .button-group {
  text-align: center; 
}

.edit-topic .button-group button {
  margin-top: 10px;
  margin-right: 10px;  
  display: inline-block;  
}

.edit-topic .delete-button {
  background-color: #d9534f; 
  color: white;
  padding: 10px 20px; 
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto; 
  margin-top: 10px; 
}

.edit-topic .delete-button:hover {
  background-color: #c9302c; 
}

.source-input-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.source-input-container input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #03254c;
}

.source-input-container button {
  background-color: #ffd700; 
  color: #03254c; 
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.source-input-container button:hover {
  background-color: #d4a017; 
}
