@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.topic-details-container {
  font-family: 'Kumbh Sans', sans-serif;
  color: #03254c;  
  background-color: #03254c;  
  padding: 70px;
  min-height: 100vh;  
}

.topic-details-container h1 {
  text-align: center;
  color: #ffffff;  
  margin-bottom: 20px;
}

.topic-details-container h2 {
  color: #ffffff;  
  margin-top: 20px;
  margin-bottom: 10px;
}

.topic-details-container ul {
  list-style: disc;  
  padding-left: 40px;  
}

.topic-details-container ul li {
  margin-bottom: 10px;
  color: #ffd700;  
}

.topic-details-container p {
  color: #ffd700; 
  padding-left: 20px;  
}
