/* TopicDetails.css */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.topic-details-container {
  font-family: 'Kumbh Sans', sans-serif;
  color: #03254c; /* Dark navy color for text */
  background-color: #03254c; /* Same background color as navbar */
  padding: 70px;
  min-height: 100vh; /* Full viewport height */
}

.topic-details-container h1 {
  text-align: center;
  color: #ffffff;  
  margin-bottom: 20px;
}

.topic-details-container h2 {
  color: #ffffff;  
  margin-top: 20px;
  margin-bottom: 10px;
}

.topic-details-container ul {
  list-style: disc; /* Bullet points for list items */
  padding-left: 40px; /* Padding on the left for list */
}

.topic-details-container ul li {
  margin-bottom: 10px;
  color: #ffd700; /* Vibrant yellow font color */
}

.topic-details-container p {
  color: #ffd700; /* Vibrant yellow font color */
  padding-left: 20px; /* Padding on the left for paragraphs */
}
