@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

.topics-container {
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  color: #03254c; 
  background-color: #03254c; 
  padding: 20px;
  min-height: 100vh; 
}

.topics-container h1 {
  color: #ffd700;
  margin-bottom: 20px;
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* adjust number of cols */
  margin: 20px;
  gap: 10px; 
  justify-content: center;
  padding: 0;
}

.topic-button {
  background-color: #ffd700; 
  color: #03254c;  
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: block;
}

.topic-button:hover {
  background-color: #d4a017;  
}

.topic-details-container button {
  background-color: #ffd700; 
  color: #03254c; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 15px;
  display: inline-block;  
}

.topic-details-container button:hover {
  border-radius: 15px; 
}

.topic-details-container .nav-link {
  color: inherit;  
  text-decoration: none;  
}

.button-div{
  text-align: center;
}


.topics-container select {
  width: 50%; 
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d4a017; 
  font-size: 1em;  
  box-sizing: border-box;
  background-color: white;
  color: #03254c;
}

.topics-container .topics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 20px;
}